/*--------------HOME PAGE --------*/
.home-subtitle {
  font: Bold 40px/60px Roboto;
  color: #7D7B7D;
}

.home-slidertext {
  text-align: left;
  font: Bold 50px/65px Roboto;
  letter-spacing: 1px;
  color: #7D7B7D;
  opacity: 1;
}

.home-slidertext-dev {
  top: 331px;
}

.home-sliderpic {
  width: 540px;
  height: 706px;
}

.home-sliderpic-dev {
  top: 177px;
}

.home-sliderviurs {
  width: 752px;
  height: 714px;
}

.home-sliderviurs-dev {
  top: 100px;
}

.home-btn1 {
  background-color: #ed000b;
  border-color: #ed000b;
  padding: 10px;
  width: 150px;
  font: normal 24px/45px Roboto;
  letter-spacing: 0.48px;
}

.home-btn2 {
  font: normal 24px/45px Roboto;
  background: white;
  color: gray;
  border-color: gray;
  padding: 10px;
  width: 120px;
  letter-spacing: 0.48px;
}

.home-pic {
  width: 100%;
}

.home-facts {
  margin: auto;
}

.home-facts-card, .home-facts-card2 {
  text-align: center;
  border-right: 1px solid #7D7B7D;
  font-size: 29px;
}

.home-facts-card2 {
  border-right: unset !important;
}

.home-facts-num {
  font-size: 100px !important;
  color: #ed000b;
}

.home-facts-plus {
  font-size: 70px;
  color: #ed000b;
}

.home-serv-title {
  font: Bold 36px/54px Roboto;
}

.home-serv-pic {
  width: 100%;
  height: 427px;
  border-radius: 27px;
  opacity: 0.8;
  position: relative;
}

.home-serv-text {
  position: absolute;
  top: 80%;
  left: 5%;
  color: white;
}

.home-course-text {
  text-align: center;
}

.home-course-card {
  margin-bottom: 5%;
}

.home-course-pic {
  width: 100%;
  border-radius: 27px;
  height: 320px;
  position: relative;
}

.home-course-des {
  position: absolute;
  top: 61%;
  left: 13%;
  background-color: white;
  width: 80%;
  border-radius: 15px;
  padding: 3%;
}

.home-course-des p {
  font-size: 24px;
}

.home-course-pic2 {
  border-radius: 19px;
  width: 52%;
  height: 378px;
  position: relative;
}

.home-course-des2 {
  position: absolute;
  top: 12%;
  left: 27%;
  background-color: white;
  width: 54%;
  border-radius: 15px;
  padding: 3%;
  border: 1px solid #f7f9f9;
  padding: 3%;
}

.home-course-des2 p {
  font-size: 18px;
}

.home-svg {
  height: 29px;
}

.home-instructors {
  font: normal 30px/45px Roboto;
}

.home-inst-title {
  margin-bottom: 20px;
}

.home-inst-card {
  margin-top: 30%;
  padding: 4%;
  text-align: center;
  border: 1px solid #faf9f9;
  font-size: 29px;
  background-color: white;
  border-radius: 12px;
  position: relative;
}

.home-inst-card h4 {
  margin-top: 33%;
}

.home-inst-pic {
  position: absolute;
  bottom: 80%;
  width: 70%;
  height: 215px;
  left: 15%;
  border-radius: 12px;
}

.home-client-logo {
  width: 86%;
}

.home-navbar {
  width: 100%;
  background-image: url("../../assets/sliderbackground.svg");
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  left: 0;
  border-bottom: 2px solid #ebe7e7;
}

.home-navbar-logo {
  width: 200px;
  height: 66px;
}

.home-navbar-logo-dev {
  top: 49px;
}

.home-navbar-menu {
  margin: auto;
}

.home-navbar ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
}

.home-navbar li {
  display: inline;
  color: gray;
  margin-left: 4%;
  font-size: 18px !important;
}

.home-navbar a:hover {
  border-bottom: 3px solid #ed000b;
}

.home-navbar a {
  color: gray;
  text-decoration: none;
  font: normal 24px/45px Roboto;
}

.home-navbar-subtitle {
  margin-top: 172px;
  width: 487px;
  height: 48px;
}

.home-footer-pic {
  position: relative;
  background-image: url("../../assets/footer1.png");
  height: 400px;
}

.home-footer-title {
  position: absolute;
  top: 26%;
  text-align: center;
  left: 20%;
  color: white;
}

.font {
  font-size: 24px;
}

.text, .home {
  color: gray !important;
}

/*------------------slide show ----------------*/
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 10px; */
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    } */
/*--------------------------------------------*/
.content h6 {
  color: gray;
}

.content-card {
  border-radius: 3px;
  height: 60px;
  width: 100%;
  background-color: gray;
  color: white;
}

.content-card p {
  margin-left: 3%;
}

.content-video {
  width: 100%;
  height: 300px;
  border-radius: 7px;
}

.content-des {
  border-bottom: 1px solid #e2dddd;
}

.content-inst {
  border-bottom: 1px solid #e2dddd;
}

.content-inst-pic {
  width: 100%;
  height: 100px;
  border-radius: 6px;
}

.content-acc-logo1 {
  width: 186px;
  margin-top: 17%;
}

.content-acc-logo2 {
  margin-left: 19%;
  width: 100px;
  margin-top: 17%;
}

.content-intro {
  padding: 4%;
  border-bottom: 1px solid #e2dddd;
}
/*# sourceMappingURL=home.css.map */