<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>
      AccSight
    </title>
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/brands.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/home.css">
    
</head>
<body>
    <nav class="courses-navbar" >
        <div class="row">
            <div class="col-md-3  offset-md-2 ">
                <img class="courses-navbar-logo" src="../assets/FINAL logo eddet transparent.png ">
                <div class="mt-3">
                    <h5 class="text"> Courses</h5>   
                    <p class="text">Home/Courses</p>            
             </div>  
            </div>
            
            <div class="col-md-7 courses-navbar-menu ">
                <ul>
                    <li> <a href="home.html" >Home</a></li>
                    <li> <a href="#">Services & Solutions</a></li>
                    <li> <a href="courses.html">Courses</a></li>

                    <li> <a href="psp.html"> PSP</a></li>
                    <li> <a href="newsFeed.html"> Newsfeed</a></li>

                    <li> <a href="aboutus.html">About Us</a></li>
                       <li> <a href="#">Contact Us</a></li>
                    <li> <i class="fas fa-search search text"></i></li>
                    <li> <i class="far fa-user text"></i></li>
                </ul>
            </div>
        </div> 
        
       
    </nav>
    <div class="container courses" >
    <div class="row mt-5">
        <div class="col-md-4">
            <img class="courses-pic" src="../assets/course1.jpg">
        </div>
        <div class="col-md-8 text">
            <h6>Informatics and Transforming Insight from data -Short Course</h6>
            <svg class="courses-svg">
                <line x1="0" y1="0" x2="100" y2="0" style="stroke:rgb(255,0,0);stroke-width:5" />
              </svg>
              <div class="row">
                  <div class="col-md-2">
                <p> 4 days <i class="far fa-calendar-alt"></i></p>

                  </div>
                  <div class="col-md-2">
                    <p> 5 hrs <i class="far fa-clock"></i></p>

                  </div>

              </div>
              <h6>This course is Accredited From Ashford University</h6>

            <p>This health and social care risk management training course is designed to provide aspiring professionals with the tools and knowledge to protect employees and patients, gain the skills to identify risks and hazards in the workplace, and implement effective control measures to ensure a healthy environment for all.</p>
            <h6>Join Course <i class="fas fa-minus-circle circle courses-join"></i></h6>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <img class="courses-pic" src="../assets/course2.jpg">
        </div>
        <div class="col-md-8 text">
            <h6><a href="courseContent.html">Pharmacoeconomics And Research -Short Course </a></h6>
            <svg class="courses-svg">
                <line x1="0" y1="0" x2="100" y2="0" style="stroke:rgb(255,0,0);stroke-width:5" />
              </svg>
              <div class="row">
                  <div class="col-md-2">
                 <p> 4 days <i class="far fa-calendar-alt"></i></p>

                  </div>
                  <div class="col-md-2">
                    <p> 5 hrs <i class="far fa-clock"></i></p>

                  </div>

              </div>
              <h6>This course is Accredited From Ashford University</h6>

            <p>This health and social care risk management training course is designed to provide aspiring professionals with the tools and knowledge to protect employees and patients, gain the skills to identify risks and hazards in the workplace, and implement effective control measures to ensure a healthy environment for all.</p>
            <h6>Join Course <i class="fas fa-minus-circle circle courses-join"></i></h6>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <img class="courses-pic" src="../assets/course3.jpg">
        </div>
        <div class="col-md-8 text">
            <h6>HealthCare Policy -ShortCourse</h6>
            <svg class="courses-svg">
                <line x1="0" y1="0" x2="100" y2="0" style="stroke:rgb(255,0,0);stroke-width:5" />
              </svg>
              <div class="row">
                  <div class="col-md-2">
              <p> 4 days <i class="far fa-calendar-alt"></i></p>

                  </div>
                  <div class="col-md-2">
                    <p> 5 hrs <i class="far fa-clock"></i></p>

                  </div>

              </div>
              <h6>This course is Accredited From Ashford University</h6>

            <p>This health and social care risk management training course is designed to provide aspiring professionals with the tools and knowledge to protect employees and patients, gain the skills to identify risks and hazards in the workplace, and implement effective control measures to ensure a healthy environment for all.</p>
            <h6>Join Course <i class="fas fa-minus-circle circle courses-join"></i></h6>
        </div>
    </div>
    
    
    </div>
    <footer>
       <div class="row">
           <div class="col-md-2 offset-md-1 mt-3">
            <ul>
               <h6>SITEMAP</h6>

                <li> <a href="#" >Home</a></li>
                <li> <a href="#">Services & Solutions</a></li>
                <li> <a href="home.html">Courses</a></li>

                <li> <a href="#"> PSP</a></li>
                <li> <a href="#"> Newsfeed</a></li>

                <li> <a href="#">Contact Us</a></li>
                
            </ul>
           </div>
           <div class="col-md-2 mt-3">
            <ul>
               <h6>SITEMAP</h6>

                <li> <a href="#" >Home</a></li>
                <li> <a href="#">Services & Solutions</a></li>
                <li> <a href="home.html">Courses</a></li>

                <li> <a href="#"> PSP</a></li>
                <li> <a href="#"> Newsfeed</a></li>

                <li> <a href="#">Contact Us</a></li>
                
            </ul>
           </div>
           <div class="col-md-3 mt-3">
            <ul>
               <h6>SERVICES INQUIRY</h6>

                <li> Address:New Giza 38 street </li>
                <li> phone:+965824222</li>
                <li> Email:info@accsight.com</li>

                <li> info@gmail.com</li>
                <li> info@outlook.com</li>

               
                
            </ul>
           </div>
           <div class="col-md-2 mt-3">
            
                <h6>SIGNUP TO OUR NEWSTELLER</h6>
 
                 <input type="text" class="form-control" id="exampleFormControlInput1" > 
                 <button type="button" class="btn btn-danger btn-sm mt-2 ">Sign Up</button>
                 <p>Follow Us</p>  
                 <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp; &nbsp; 
                 <span> <a href="#"><i class="fab fa-twitter"></i></a</span>&nbsp; &nbsp;
                 <span> <a href="#"><i class="fab fa-instagram"></i></a</span>

                    
             
           </div>
           <!-- <div class="col-md-12">
            <p class="">@2020 ACCSIGHT .ALL RIGHT RESERVED</p>
     
                </div> -->
       </div>
       
      </footer>


    <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/brands.js"></script>
    <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/solid.js"></script>
    <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/fontawesome.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>