<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <!--make the web site work on all devices and screen resolutions--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      AccSight
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">
   
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/brands.css" rel="stylesheet">
    <link href="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.css" />

    <link rel="stylesheet" href="../style/home/home.css">
    <link rel="stylesheet" href="../style/public/public.css">


    
</head>

<body>
    <!-----------Header------------>
    <nav class="home-navbar" >
        <div class="row">
            <div class="col-md-3  offset-md-2 home-navbar-logo-dev">
                <img class="home-navbar-logo" src="../assets/FINAL logo eddet transparent.png ">
                
            </div>
            <div class="col-md-7 home-navbar-menu home-navbar-logo-dev">
                <ul>
                    <li> <a href="home.html" >Home</a></li>
                    <li> <a href="services.html">Services & Solutions</a></li>
                    <li> <a href="courses.html">Courses</a></li>

                    <li> <a href="psp.html"> PSP</a></li>
                    <li> <a href="newsFeed.html"> Newsfeed</a></li>
                    <li> <a href="aboutus.html">About Us</a></li>
                   
                    <li> <a href="#">Contact Us</a></li>
                    <li> <i class="fas fa-search search text"></i></li>
                    <li> <i class="far fa-user text"></i></li>
                </ul>
            </div>
        </div> 
        <div class="row  slideshow-container">

            <div class="mySlides fade">
                <div class="row">
                    <div class="col-md-6 offset-md-2 home-slidertext-dev ">
                        <p class="home-slidertext"> Accsight partners with Healthcare ana pharmaceutical entities</p>
                        <p class="fontText">Accsight partners with Healthcare and pharmaceutical entities, offering full integrated solutions and consultancy throughout all the phases of a product life-cycle from a Medical, HEOR, and a Market Access perspective through the acquisition of all necessary expertise and capabilities, ensuring the right market access of products and establishing brand value.
                        </p>
                        <button type="button" class="btn btn-danger btn-sm mt-2 home-btn1">Sign Up</button>
                        <button type="button" class="btn btn-info btn-sm mt-2 home-btn2 ">Login In</button>
        
                    </div>
                    <div class="col-md-4 home-sliderviurs-dev">
                        <img class="home-sliderviurs" src="../assets/viurs.png">
                    </div>
                </div>
            </div>
            
            <div class="mySlides fade">
            
              <div class="row ">
                <div class="col-md-6 offset-md-2 home-slidertext-dev">
                    <h5 class="home-slidertext"> Accsight partners with Healthcare ana pharmaceutical entities</h5>
                    <p class="text font">Accsight partners with Healthcare ana pharmaceutical entities, offering full integrated solutions and consultancy throughout all the phases of product 
                        life-cycle from a Medical , HEOR, and a Market Access perspective through the 
                        acquisition access of products and establishing brand value .
                    </p>
                    <button type="button" class="btn btn-danger btn-sm mt-2 home-btn1">Sign Up</button>
                    <button type="button" class="btn btn-info btn-sm mt-2 home-btn2 ">Login In</button>
    
                </div>
                <div class="col-md-4 home-sliderpic-dev">
                    <img class="home-sliderpic" src="../assets/slider 02@2x.png">
                </div>
            </div>
            </div>
            
            <div class="mySlides fade">
            
              <div class="row ">
                <div class="col-md-6 offset-md-2 home-slidertext-dev ">
                    <h5 class="home-slidertext"> Accsight partners with Healthcare ana pharmaceutical entities</h5>
                    <p class="text font">Accsight partners with Healthcare ana pharmaceutical entities, offering full integrated solutions and consultancy throughout all the phases of product 
                        life-cycle from a Medical , HEOR, and a Market Access perspective through the 
                        acquisition access of products and establishing brand value .
                    </p>
                    <button type="button" class="btn btn-danger btn-sm mt-2 home-btn1">Sign Up</button>
                    <button type="button" class="btn btn-info btn-sm mt-2 home-btn2 ">Login In</button>
    
                </div>
                <div class="col-md-4 home-sliderpic-dev">
                    <img class="home-sliderpic" src="../assets/slider 03@2x.png">
                </div>
            </div>
            </div>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>
        
        
    </nav>
    <!-----Content------->
    <div class="container-fluid mt-4 home" >
        <!---About------>
        <div class="row ">
            <div class="col-md-5 offset-md-2 ">
                <p class="fontText">ABOUT ACCSIGHT</p>
                <p class="fontTitle">Accsight partners with Healthcare ana pharmaceutical entities</p>
                <p class=" fontText">Accsight partners with Healthcare ana pharmaceutical entities, offering full integrated solutions and consultancy throughout all the phases of product 
                    life-cycle from a Medical , HEOR, and a Market Access perspective through the 
                    acquisition access of products and establishing brand value .
                </p>
                <p  class=" fontText">Read More &nbsp; <i class="fas fa-minus-circle circle courses-join"></i></p>

            </div>
            <div class="col-md-2">
                <img class="home-pic" src="../assets/about us image @x2.png">
            </div>
     </div>
     <!-------------Facts --------------->
     <div class="container-fluid">
     <div class="row mt-5 ">
         <p class="home-facts fontTitle">Some Important Facts About Us </p>
     </div>
     <div class="row mt-3 ">
         <div class="col-md-3  home-facts-card ">
            <div class="home-facts-num"><strong>15</strong><i class="fas fa-plus home-facts-plus"></i></div> 
             <b>Countries Covered</b>
             <p class="fontText">some important facts about us </p>
             
         </div>
         <div class="col-md-3  home-facts-card ">
            <div class="home-facts-num"><strong>25</strong><i class="fas fa-plus home-facts-plus"></i></div> 
             <b>Clients</b>
             <p  class="fontText">some important facts about us </p>
             
         </div>
         <div class="col-md-3  home-facts-card ">
            <div class="home-facts-num"><strong>500</strong><i class="fas fa-plus home-facts-plus"></i></div> 
             <b>Academy Graduates</b>
             <p  class="fontText">some important facts about us </p>
             
         </div>
         <div class="col-md-3  home-facts-card2 ">
            <div class="home-facts-num"><strong>5000</strong><i class="fas fa-plus home-facts-plus"></i></div> 
             <b>Patients Enrolled</b>
             <p  class="fontText">some important facts about us </p>
             
         </div>
         
     </div> 
    </div>
           <!------- Services and solutions--------->
    <div class="container-fluid  home-serv mt-5">
        
        <div class="col-md-12 ">
        <p class="home-subtitle">Services And Solutions </p>
            
        </div>
      <div class="row">
        <div class="col-md-4 ">
            <img src="../assets/marketReasearch.png" class="home-serv-pic">
            <div class="home-serv-text  ">
                <h1 class="home-serv-title">Market Research</h1>
                <svg class="home-svg">
                    <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
                </svg>
            </div>
            
        </div>
        <div class="col-md-4 ">
            <img src="../assets/training.png" class="home-serv-pic">
            <div class="home-serv-text">
                <h1 class="home-serv-title">Training And Development</h1>
                <svg class="home-svg">
                <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
                </svg>
            </div>
        
    </div>
    <div class="col-md-4 ">
        <img src="../assets/Image (3).png" class="home-serv-pic">
        <div class="home-serv-text">
            <h1 class="home-serv-title">Patient Support Programs</h1>
            <svg class="home-svg">
            <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
            </svg>
        </div>
    
    </div>
            <div class="col-md-4 mt-3 ">
                <img src="../assets/Image (18).png" class="home-serv-pic">
                <div class="home-serv-text">
                    <h1 class="home-serv-title">Market Access</h1>
                    <svg class="home-svg">
                    <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
                    </svg>
                </div>
            
            </div>
            <div class="col-md-4 mt-3 ">
                <img src="../assets/Image (1).png" class="home-serv-pic">
                <div class="home-serv-text">
                    <h1 class="home-serv-title">PE & HEOR</h1>
                    <svg class="home-svg">
                    <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
                    </svg>
                </div>
            
            </div>
            <div class="col-md-4 mt-3 ">
                <img src="../assets/Image (15).png" class="home-serv-pic">
                <div class="home-serv-text">
                    <h1 class="home-serv-title">ONCOLOGY</h1>
                    <svg class="home-svg">
                    <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgb(255,0,0);stroke-width:8" />
                    </svg>
                </div>
            
            </div>

        
        </div>

    </div>
  
     

    <!-------Courses-------->
    <div class="container-fluid home-course mt-5">
        <div class="col-md-12 home-course-text">
            <h4 class="fontText">CHOOSE YOUR COURSE</h4>
            <h1 class="home-subtitle">The Top Popular Courses For You</h1>
        </div>
        <div class="col-md-6 offset-md-3 home-course-card">
              <img src="../assets/course1.jpg" class=" home-course-pic" >
              <div class="col-md-12 home-course-des">
                    <h2 class="home-instructors">Informatics and Transforming Insight from data -Short Course</h2>
                    <div class="row">
                        <div class="col-md-2">
                    <p> 4 days <i class="far fa-calendar-alt"></i></p>

                        </div>
                        <div class="col-md-2">
                        <p> 5 hrs <i class="far fa-clock"></i></p>

                        </div>

                    </div>
                    <p class="fontText">The Course consists of 4 working days (5 hours) to be conducted as per the agreed dates.</p>


              </div>
        </div>

        <div class="row ">
            <div class="col-md-5 offset-md-2">
              <img src="../assets/course2.jpg" class=" home-course-pic2" >
              <div class="home-course-des2">
                   <h4 class="home-instructors">Pharmacoeconomics And Research -Short Course</h4>
                    <div class="row">
                        <div class="col-md-3">
                    <p> 4 days <i class="far fa-calendar-alt"></i></p>

                        </div>
                        <div class="col-md-2">
                        <p> 5 hrs <i class="far fa-clock"></i></p>

                        </div>

                    </div>
                    <p class="fontText">The Course consists of 4 working days (5 hours) to be conducted as per the agreed dates.</p>

              </div>
               
            </div>

            <div class="col-md-5 ">
                <img src="../assets/course3.jpg" class=" home-course-pic2" >
                <div class="home-course-des2">
                    <h4 class="home-instructors">HealthCare Policy -ShortCourse</h4>
                      <div class="row">
                          <div class="col-md-3">
                      <p> 4 days <i class="far fa-calendar-alt"></i></p>
  
                          </div>
                          <div class="col-md-2">
                          <p> 5 hrs <i class="far fa-clock"></i></p>
  
                          </div>
  
                      </div>
                    <p class="fontText">The Course consists of 4 working days (5 hours) to be conducted as per the agreed dates.</p>

  
                </div>
                 
              </div>
        </div>
    </div>

    <!------ Instructor --->
    <div class="container-fluid home-inst mt-5">
        <div class="home-inst-title">
            <h4 class="fontText">Our Instructors</h4>
            <h1 class="home-subtitle">Learn From The Best</h1>
        </div>
       <div class="row">
        <div class="col-md-2 offset-md-2">
            <div class="home-inst-card">
                 <h4 class="home-instructors">Osama Elhady</h4>   
                <p class="fontText">
               Osama Elhady is Milton Steinbach Professor at Yale SOM where he teaches negotiation, innovation, and game theory. He is the coauthor of six books. Thinking Strategically and The Art of Strategy explain game theory. Co-opetition, looks beyond zero-sum games to emphasize the potential for cooperating while competing. Why Not? offers a framework for problem solving and ingenuity. Lifecycle Investing provides a new strategy for retirement investing. Mission in a Bottle tells the story of Honest Tea.
                 </p>
             
            </div>
            <img src="../assets/inst1.png" class="home-inst-pic">

            
        </div>

        <div class="col-md-2 ">
            <div class="home-inst-card">
                 <h4 class="home-instructors">Mai Fahim</h4>   
                <p class="fontText">
               Mai Fahim is Milton Steinbach Professor at Yale SOM where he teaches negotiation, innovation, and game theory. He is the coauthor of six books. Thinking Strategically and The Art of Strategy explain game theory. Co-opetition, looks beyond zero-sum games to emphasize the potential for cooperating while competing. Why Not? offers a framework for problem solving and ingenuity. Lifecycle Investing provides a new strategy for retirement investing. Mission in a Bottle tells the story of Honest Tea.
                 </p>
               
            </div>
            <img src="../assets/inst4.png" class="home-inst-pic">

            
        </div>
        <div class="col-md-2 ">
            <div class="home-inst-card">

                 <h4 class="home-instructors">Barry Nalebuff</h4>   
                <p class="fontText">
               Barry Nalebuff is Milton Steinbach Professor at Yale SOM where he teaches negotiation, innovation, and game theory. He is the coauthor of six books. Thinking Strategically and The Art of Strategy explain game theory. Co-opetition, looks beyond zero-sum games to emphasize the potential for cooperating while competing. Why Not? offers a framework for problem solving and ingenuity. Lifecycle Investing provides a new strategy for retirement investing. Mission in a Bottle tells the story of Honest Tea.
                 </p>
            </div>
            <img src="../assets/inst3.png" class="home-inst-pic">

            
        </div>
        <div class="col-md-2 ">
            <div class="home-inst-card">

                 <h4 class="home-instructors">Osama Elhady</h4>   
                <p class="fontText">
               Osama Elhady is Milton Steinbach Professor at Yale SOM where he teaches negotiation, innovation, and game theory. He is the coauthor of six books. Thinking Strategically and The Art of Strategy explain game theory. Co-opetition, looks beyond zero-sum games to emphasize the potential for cooperating while competing. Why Not? offers a framework for problem solving and ingenuity. Lifecycle Investing provides a new strategy for retirement investing. Mission in a Bottle tells the story of Honest Tea.
                 </p>
            </div>
            <img src="../assets/inst2.png" class="home-inst-pic">

            
        </div>
       </div>
      

    </div>

    <!--------Clients------->

    <div class=" container-fluid home-client">
        <h1 class="home-subtitle">Some Of Our Clients </h1>
        <div class="row">
            <div class="col-md-1 offset-md-2">
                <img class="home-client-logo"  src="../assets/logo-carousel-10.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-11@2x.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-4.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-5@2x.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-6.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-8.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-9.png" >
            </div>
            <div class="col-md-1 ">
                <img class="home-client-logo"  src="../assets/logo-carousel-12.png" >
            </div>
            
            
        </div>
    </div>
</div>



    <!----Footer------->
    <footer>
        <div class="home-footer-pic">
            <div class="home-footer-title" >
                <h1 > Achieve Your Goals With Accsight</h1>
           <h4>We Work Accross The Meddile East And The Partnership With Our Global Network
               to Provide innvovation Knowledge Capabilties of our Clients
           </h4>
           <button type="button" class="btn btn-danger btn-sm mt-2 home-btn1">Sign Up</button>

            </div>
        </div>
       <div class="row">
           <div class="col-md-2 offset-md-1 mt-3">
            <ul>
               <h6>SITEMAP</h6>

                <li> <a href="#" >Home</a></li>
                <li> <a href="#">Services & Solutions</a></li>
                <li> <a href="home.html">Courses</a></li>

                <li> <a href="#"> PSP</a></li>
                <li> <a href="#"> Newsfeed</a></li>

                <li> <a href="#">Contact Us</a></li>
                
            </ul>
           </div>
           <div class="col-md-2 mt-3">
            <ul>
               <h6>SITEMAP</h6>

                <li> <a href="#" >Home</a></li>
                <li> <a href="#">Services & Solutions</a></li>
                <li> <a href="home.html">Courses</a></li>

                <li> <a href="#"> PSP</a></li>
                <li> <a href="#"> Newsfeed</a></li>

                <li> <a href="#">Contact Us</a></li>
                
            </ul>
           </div>
           <div class="col-md-3 mt-3">
            <ul>
               <h6>SERVICES INQUIRY</h6>

                <li> Address:New Giza 38 street </li>
                <li> phone:+965824222</li>
                <li> Email:info@accsight.com</li>

                <li> info@gmail.com</li>
                <li> info@outlook.com</li>

               
                
            </ul>
           </div>
           <div class="col-md-2 mt-3">
            
                <h6>SIGNUP TO OUR NEWSTELLER</h6>
 
                 <input type="text" class="form-control" id="exampleFormControlInput1" > 
                 <button type="button" class="btn btn-danger btn-sm mt-2 ">Sign Up</button>
                 <p>Follow Us</p>  
                 <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp; &nbsp; 
                 <span> <a href="#"><i class="fab fa-twitter"></i></a</span>&nbsp; &nbsp;
                 <span> <a href="#"><i class="fab fa-instagram"></i></a</span>

                    
             
           </div>
           <!-- <div class="col-md-12">
            <p class="">@2020 ACCSIGHT .ALL RIGHT RESERVED</p>
     
                </div> -->
       </div>
       
      </footer>
      
    <!-- <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/brands.js"></script>
    <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/solid.js"></script>
    <script defer src="../../fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/fontawesome.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>






<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

   
    </script>
    
</body>

</html>